/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  line-height: 1.2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// header

.header {
  border-bottom: 2px solid #f1f1f1;
  h1 {
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  h2 {
    font-size: 1.4rem;
    color: #4cbef1;
  }
  img {
    width: 5rem;
  }
}

// product-wrapper css

.products-wrapper {
  padding-top: 3rem;
}

// edit-form
.form-wrapper {
  margin-top: 2rem;
  .form-heading {
    margin: 2rem;
    text-align: center;
    // color: ;
  }
}
.outer-box {
  display: block;
  margin-top: 4rem;
  padding: 20px 25px;
  border: solid 1px rgba(216, 216, 216, 0.5);
  border-radius: 4px;
  font-family: "Camphor";
  color: #787887;
  width: 450px;
  margin: 0 auto;
  .form-control {
    width: 100%;
    outline: none;
    border-radius: 2px;
    border: solid 1px #cacad3;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    margin-bottom: 20px;
    outline: none;
  }
}

.label {
  padding-bottom: 0.3rem;
}

.block-form {
  display: block;
}
// selection wrapper
.select-wrapper {
  width: 9rem;
}

// media queries
@media screen and (max-width: 769px) {
  .products-wrapper {
    font-size: 8px;
  }
  .media-font {
    h1,
    h2 {
      font-size: 1rem;
    }
    img {
      width: 3rem;
    }
  }
}
